.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-prev:before{
  color:black
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-next:before{
  color:black
}
.slick-slide > div {
  display: grid;
  place-items: center;
  width: 80%;
  margin-top: 50px;
  margin: auto;
  height: 500px;
  padding: 0px;
}