<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' blob:"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>

    window.jsBridge = {
      invoke: (bridgeName,data, callback) => {
        if (typeof window.electron === 'object') {
          console.log('index invoke',bridgeName)
          window.electron.invoke(bridgeName, data, callback);
        } else {
          // 你可以在这里使用更完善的降级处理方案。
          console.log('Non-electron environment!');
        }
      },
      on:(channel,func)=>{
        if(typeof window.electron == 'object'){
          window.electron.on(channel, func);
        }
      },
      once:(channel,func)=>{
        if(typeof window.electron == 'object'){
          window.electron.once(channel, func);
        }
      },
      
      sendSync:(channel)=>{
        if(typeof window.electron == 'object'){
         return  window.electron.sendSync(channel, func);
        }
        return null
      }
    };
  </script>
</html>
